body {
    background-color: #3234a8;
    background-image: url("#");
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
  }
  
  header {
    text-align: center;
  }
  
  main {
    text-align: left;
  }
  
  input {
    color: #000000;
  }
  
  input .radio {
    width: 20px;
    height: 1em;
  }
  
  select {
    color: #000000;
    width: 200px;
    height: 2em;
  }
  
  button {
    width: 200px;
    height: 60px;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #ff4040;
    border: solid 1px #ff4040;
    border-radius: 10px;
  }
  