body {
  background-color: #3234a8;
  background-image: url("#");
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
}

main {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-input {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.engine {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.transmission {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.drive {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

input {
  color: #000000;
  width: 200px;
  height: 2em;
}

input .radio {
  width: 20px;
  height: 1em;
}

select {
  color: #000000;
  width: 200px;
  height: 2em;
}

.button {
  font-size: 18px;
  color: white;
  background-color: green;
  width: 90%;
  height: 32px;
}

.button:hover {
  font-size: 18px;
  color: black;
  background-color: light-green;
  width: 90%;
  height: 32px;
}